body{
    margin:0px
}
ul{
    list-style: none;
    padding: 0px;
    margin: 0px;

}
.logo{
    height: 70px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: cornsilk;
    border-bottom: 1px solid grey;
    box-shadow: 1px 1px red;
}

.navbar > li{
    display: flex;
    align-items: center; 
}

button{
    border: 0px;
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: bolder;
}
.mainbutton{
    background-color: indigo;
    color: ivory;
    box-shadow: 2px 2px 2px 1px red;

}

.mainbutton:hover{
    cursor: pointer;
    transform: scale(1.2);
    box-shadow: 2px 2px 2px 1px blueviolet;
}

.lupa:hover{
    cursor: pointer;
    transform: scale(1.2);
    color: royalblue;
}

.secondarybutton {
    background-color: rgb(211, 243, 94);
    color: ivory;
    box-shadow: 2px 2px 2px 1px rgb(233, 190, 0);

}

.secondarybutton:hover{
    cursor: pointer;
    transform: scale(1.2);
    box-shadow: 2px 2px 2px 1px rgb(43, 214, 226);
}


.buscar{
    background-color: white;
    border: 1px solid gray;
    padding: 4px;
    border-radius: 8px ;
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.buscar:focus-within{
    border: 1px solid blue;

}

.buscar > input{
    outline: none;
    border: 0px
}

.contenedorImagen{
    height: 100px;
    width: 200px;
    margin: 10px;
    display: flex;
}

/* Al parcer la distribucionde imagenes no funciona si el padre no tiene el display flex, ojo con eso */

.contenedorImagen > img{
    object-fit: scale;
    width: 100%;
    /*el width aca hace que la imagen ocupe el 100% del div de la clase padre*/
}

.breedCardContainer{
    display: flex;
}
.breedCard{
    margin: 20px;
}